{% extends 'base.html.twig' %}

{% block title 'Inscription' %}

{% block body %}

    <!-- Content page -->
    <section class="bg0 p-t-104 p-b-116">
        <div class="container">
           <h4 class="mtext-105 cl2 txt-center p-b-30">
               {{ 'Register for the shop'|trans }}
           </h4>
            {{ form_start(form) }}
           <div class="bor8 m-b-20 how-pos4-parent">
               {{ form_widget(form.email, {'attr': {'class': 'stext-111 cl2 plh3 size-116 p-l-10 p-r-10', 'placeholder': 'Your Email Address'|trans}}) }}
              <span class="error-unique">{{ form_errors(form.email) }}</span>
           </div>
           <div class="bor8 m-b-20 how-pos4-parent">
               {{ form_widget(form.username, {'attr': {'class': 'stext-111 cl2 plh3 size-116 p-l-10 p-r-10', 'placeholder': 'Username'|trans}}) }}
              <span class="error-unique">{{ form_errors(form.username) }}</span>
           </div>
           <div class="bor8 m-b-20 how-pos4-parent">
               {{ form_widget(form.plainPassword.first, {'attr': {'class': 'stext-111 cl2 plh3 size-116 p-l-10 p-r-10', 'placeholder': 'Password'|trans}}) }}
           </div>
           <div class="bor8 m-b-20 how-pos4-parent">
               {{ form_widget(form.plainPassword.second, {'attr': {'class': 'stext-111 cl2 plh3 size-116 p-l-10 p-r-10', 'placeholder': 'Repeat Your Password'|trans}}) }}
           </div>
           <div class="bor8 m-b-20 how-pos4-parent">
               {{ form_widget(form.lastName, {'attr': {'class': 'stext-111 cl2 plh3 size-116 p-l-10 p-r-10', 'placeholder': 'Last Name'|trans}}) }}
           </div>
           <div class="bor8 m-b-20 how-pos4-parent">
               {{ form_widget(form.firstName, {'attr': {'class': 'stext-111 cl2 plh3 size-116 p-l-10 p-r-10', 'placeholder': 'First Name'|trans}}) }}
           </div>
           <div class="bor8 m-b-30">
               {{ form_widget(form.address, {'attr': {'class': 'stext-111 cl2 plh3 size-120 p-lr-10 p-tb-25', 'placeholder': 'Your Address'|trans}}) }}
           </div>
           <div class="bor8 m-b-20 how-pos4-parent">
               {{ form_widget(form.city, {'attr': {'class': 'stext-111 cl2 plh3 size-116 p-l-10 p-r-10', 'placeholder': 'First Name'|trans}}) }}
           </div>
           <div class="bor8 m-b-20 how-pos4-parent">
               {{ form_widget(form.dateOfBirth, {'attr': {'class': 'stext-111 cl2 plh3 size-116 p-l-10 p-r-10', 'placeholder': 'Your date Of Birthdaye'|trans}}) }}
           </div>
           <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                 {{ 'submit'|trans }}
           </button>
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}