<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}Coza Store {{ 'welcome'|trans }}{% endblock %}
        </title>
        {% block stylesheets %}
           {{ include('inc/css.html.twig') }}
        {% endblock %}
    </head>
    <body class="animsition">
    {{ include('inc/header.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('inc/footer.html.twig') }}
        {% block javascripts %}
            {{ include('inc/js.html.twig') }}
        {% endblock %}
    </body>
</html>
